body, html
{
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	max-width: 100%;
}

@font-face {
    font-family: "alagard";
    src: url("../fonts/alagard.ttf");
}

@-webkit-keyframes floating {
  0% { top: 0px; }
  50% { top: 10px; }
  100% { top: 0px; }
}

@-webkit-keyframes flash {
  0% { opacity: 0; }
  90% { opacity: 0; }
  92% { opacity: 1.0; }
  94% {	opacity: 0; }
  96% { opacity: 0; }
  98% {	opacity: 1.0; }
  100% { opacity: 0; }
}

@-webkit-keyframes pulse {
  0% { opacity: .1; }
  30% {	opacity: 1.0; }
  70% {	opacity: 1.0; }
  100% { opacity: .1; }
}

@keyframes floating {
  0% { top: 0px; }
  50% { top: 10px; }
  100% { top: 0px; }
}

@keyframes flash {
  0% { opacity: 0; }
  90% { opacity: 0; }
  92% { opacity: 1.0; }
  94% {	opacity: 0; }
  96% { opacity: 0; }
  98% {	opacity: 1.0; }
  100% { opacity: 0; }
}

@keyframes pulse {
  0% { opacity: .1; }
  30% {	opacity: 1.0; }
  70% {	opacity: 1.0; }
  100% { opacity: .1; }
}

#header .content
{
	max-width: 960px;
	background-image: none;
	border: 32px solid transparent;
	border-image:url("../img/window.png") 64 64 repeat;
	padding: 0px;
}

#header a
{
	text-decoration: none;
	color: #fff;
	-webkit-animation: pulse 3s infinite linear;
	animation: pulse 3s infinite linear;
}

#header h5
{
	margin:0px;
	margin-top: 4px;
}

#logo
{
	top: 0px;
	left:0px;
	position: absolute;
	-webkit-animation: floating 2s infinite linear;
	animation: floating 2s infinite linear;
}

#lightning
{
	top: 0px;
	right:0px;
	opacity: 0;
	display: inline;
	position: absolute;
	-webkit-animation: flash 12s infinite linear;
	animation: flash 12s infinite linear;
}

.footer
{
	position: relative;
	height: 276px;
	margin-top: 48px;
}

#goddess
{
	top:0px;
	right:0px;
	display: inline;
	position: absolute;
	-webkit-animation: floating 4s infinite linear;
	animation: floating 4s infinite linear;
	pointer-events: none;
}

#character
{
	bottom: 0px;
	left: 0px;
	display: inline;
	position: absolute;
}

#info
{
	right: 90px;
	bottom: 60px;
	position: absolute;
	text-align: center;
	vertical-align: middle;
}

#info h4
{
	font-family: "alagard", monospace;
	font-size: 2em;
	background: none;
}

.screenshots a,
.videos a
{
	background: #fff;
	opacity: .8;
	color: #000;
	transition: opacity .1s linear;
}

.screenshots img,
.videos img
{
	border: 1px solid white;
}

.screenshots a:hover,
.videos a:hover
{
	opacity: 1.0;
}

#info h5 span
{
	background: #000;
	padding-left: 2px;
	padding-right 2px;
}

#info h5
{
	font-family: monospace;
	font-size: 16px;
}

section
{
	position:relative;
	width: 100%;
	max-width: 100%;
	color: #fff;
	background: #000;
	display: block;
	font-family: 'Roboto', san-serif;
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 20px;

}

section:nth-child(even)
{
	color: #000;
	background: #fff;
	box-shadow: 0px 1px 0px #fff inset,
				0px 20px 10px -10px rgba(0,0,0,.25) inset;
}

section:nth-child(odd)
{
	color: #fff;
	background: #000;
}

section .content
{
	margin: 0px auto;
	width: 100%;
	max-width: 800px;
	padding: 20px 0px;
	position: relative;
	font-size: 18px;
}

section h2
{
	font-family: "alagard", monospace;
	font-weight: bold;
	font-size: 4em;
	background: none;
	text-shadow: 0px 4px 0px #888;
	color: #000;
	margin-bottom: 10px;
	margin-top: 0px;
}
section:nth-child(odd) h2
{
	color: #fff;
}

#description .content
{
	padding: 0px 0px;
}

#description h2
{
	font-size: 40px;
	text-shadow: none;
}

#description .features ul
{
	list-style: none;
	background-image: url("../img/texture.png");
	background-repeat: repeat;
	padding: 15px;
}

#description .features li
{
	font-family:  "alagard", monospace;
	margin: 0px auto;
	font-size: 24px;
	color: white;
	background: black;
}
#description .features li:first-child { padding-top: 10px; }
#description .features li:last-child { padding-bottom: 10px; }

.terminal
{
	border: 2px solid #2d2d2d;
	background: #000;
	box-shadow: 0px 3px 5px 3px rgba(0,0,0,.425);
	color: white !important;
	padding: 5px;
	font-family: monospace;
	font-size: 14px;
}

.terminal a,
.terminal td
{
	color: white;
}

.terminal:before
{
	content: "";
	position: relative;
	top: -7px;
	left: -7px;
	right: 0px;
	margin: 0px auto;
	display: inline-block;
	width: 800px;
	height: 51px;
	background-image: url("../img/term-header.png");
	background-repeat: none;
	font-color: rgba(0,0,0,0);
}

.terminal .title
{
	width: 280px;
	background: #000;
	padding-left: 2px;
	padding-right 2px;
	margin: 0px auto;
	text-align: center;
}

.terminal h3,
.terminal h4,h5
{
	background-image: url("../img/texture.png");
	background-repeat: repeat;
}

h4
{
	margin-bottom: 0px;
}
h6
{
	text-align: right;
	font-size: .8em;
	font-weight: normal;
	margin: 0px;
}

#screenshots h5
{
	text-align: center;
	font-size: .7em;
	font-weight: normal;
	margin: 8px;
	background: none;
}

#credits
{
	font-family: "Roboto", monospace;
}

#credits table,
#credits td,
#credits th
{
	border: 0px solid transparent;
}

#credits h3,
#credits ul
{
	font-family:  "Roboto", monospace;
	margin: 0px auto;
	list-style: none;
	font-size: 14px;
	padding-left: 0px;
}

#credits ul,
#credits li
{
	text-align: center;
}

#credits .team
{
	margin-bottom: 20px;
}

#credits .tools
{
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
}

#credits .team ul,
#credits .team li
{
	text-align: left;
}

#credits ul li
{
	font-size: 12px;
	margin-left: 0px;
}
#credits .team li
{
	margin-left: 50px;
}

#credits td
{
	padding-left: 10px;
	padding-right: 10px;
}

#credits li a {
	text-decoration: none;
	color: #000;
}

#credits li a:visited {
	color: #000;
}

#order .beta h3,
#order .sysreq h3
{
	font-family: 'alagard', monospace;
	font-color: #fff;
	text-shadow: 0px 2px #aaa;
	font-size: 2em;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	color: #fff;
	vertical-align: middle;
}

#order .beta span,
#order .sysreq span
{
	background: #000;
	padding: 5px;
	text-align: center;
}

#order .beta
{
	text-align: center;
}

#order .beta h3,
#order .sysreq h3
{
	margin-top: 50px;
	margin-bottom: 0px;
	background: transparent;
	background-image: url("../img/texture.png");
	background-repeat: repeat;
	padding: 0px;
	text-align: center;
}

#order .beta h6
{
	text-align: unset;
}

#order .sysreq table
{
	border-collapse: collapse;
	width: 400px;
	max-width: 100%;
	margin: 10px auto;
}

#order .sysreq table,
#order .sysreq th,
#order .sysreq td
{
	color: #fff;
	border: 1px solid white;
	padding: 4px;
}

#order .sysreq tr td:first-child
{
	width: 150px;
}

#elsewhere
{
	float:right;
	font-size: 18px;
	text-align: center;
}

#elsewhere img
{
  vertical-align: middle;
}

#ThankYou
{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	display: none;
}

#ThankYou.visible
{
	display: block;
}

#ThankYou > div
{
	position: relative;
	margin: auto auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

#ThankYou > div > .dialog
{
	position: absolute;
	margin: auto;
	padding: 20px;
	width: 600px;
	height: 400px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: 'Roboto', san-serif;
	background: #fff;
	border: 1px solid #1af;
	box-shadow: 0px 20px 5px -8px rgba(0,0,0,.3);
}

#ThankYou h2
{
	font-family: 'Roboto', san-serif;
	font-size: 2em;
	text-align: left;
}

.btn
{
	background: #1af;
	color: #fff;
	border: 1px solid #1af;
	padding: 5px;
	min-width: 100px;
	font-size: 1.1em;
	font-family: 'Roboto', san-serif;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	font-size: initial;
	text-shadow: none;
}

.btn:hover
{
	background: #fff;
	color: #1af;
}

.pull-right
{
	float:right;
}
